@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-family-hikasami: var(--font-hikasami);
  --font-family-bounded: var(--font-bounded);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2C2C2C;
    --foreground: #ededed;
  }
}

@layer base {
  * {
    @apply font-family-hikasami;
  }

  h1 {
    @apply text-5xl font-medium font-family-bounded;
  }

  h2 {
    @apply text-4xl font-medium font-family-bounded;
  }

  h3 {
    @apply text-3xl font-medium font-family-bounded;
  }

  input {
    @apply active:outline-0 focus:outline-0;
  }
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
